:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}
html{height: 100%;}
body{height: 100%; margin:0; padding:0}
.backgroundColor{
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
header img{cursor: pointer; transition: transform 300ms ease;}
header img:hover{ transform: scale(1.1);}
nav{display: flex; align-items: center; width:30%; justify-content: space-around;}
nav img{width: 50px;padding:5px; transition: transform 300ms ease;}
nav img:hover, nav button:hover{transform: scale(1.1);}
nav button{margin:5px; transition: transform 300ms ease;}
button{width: 90px; height: 40px; border:none;color:white;}
button.blue{border-radius: 5px;background-color: var(--color-blue);}
button.yellow{border-radius: 5px;background-color: var(--color-yellow);}
button.pink{border-radius: 5px;background-color: var(--color-pink);}
content{width: 40%; height:50%;overflow-y: scroll;}
content div{display:flex; background-color: var(--color-white);margin:5px 0;border-radius: 5px;}
content img{width: 50px;height: 100%;margin:0 10px;}